.about-image {
    width: 100%;
}
.explore,
.about-body {
    padding: 1em;
}
.explore {
    margin-bottom: 1em;
    border-radius: 5px;
    background: #FFCC8D;   
}
.explore a {
    text-decoration: none;
}

.explore-button {
    padding: 0.5em;
    color: white;
    border-radius: 5px;
    background: black;
    font-family: inherit;
}