.homepage-body {
    padding: 2em;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/homebg.png");
}
.homepage-button {
    display: block;
    padding: 0.5em;
    color: white;
    text-align: center;
    font-family: inherit;
    background: #FF8C38;
}
.homepage-body a {
    text-decoration: none;
}