.host-nav {
    display: flex;
    margin-block: 1em;
    justify-content: space-around;
}
.host-nav a,
.host-van-link,
.host-van-body a {
    color: black;
    text-decoration: none;
}
.hostVan-body {
    padding: 1em;
}
.thumbnail {
    width: 70px;
    border-radius: 5px;
}
.host-van {
    gap: 1em;
    padding: 0.5em;
    display: flex;
    border-radius: 5px;
    margin-block: 0.5em;
    background: #ffffff; 
}
.host-van-text {
    align-self: center;
}
.host-currentVan {
    width: 100px;
    display: block;
    margin-block: 10px;
}
.host-van-body {
    margin: 1em;
    padding: 1em;
    background: white;
}

.flex {
    gap: 1em;
    display: flex;
    margin-top: 1em;
}
.details {
    align-self: center;
}
.details-host-nav {
    gap: 2em;
    display: flex;
    margin-block: 1em;
}
.details-host-nav a {
    text-decoration: none;
}
.details-host-nav:hover {
    color: #FF8C38;
}