* {
    margin: 0;
    padding: 0;
    font-size: small;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
.container {
    width: 350px;
    margin: auto;
    background: #FFF7ED;
}
.navbar,
.navlinks  {
    display: flex;   
}
.navbar {
    padding: 1em 0.5em;
    background: #FFF7ED;
    justify-content: space-between;
}
.navlinks {
    gap: 1em;
}
.navbar a {
    color: black;
    text-decoration: none;
}
.navlinks a:hover {
    color: #FF8C38;
}
.footer {
    color: #AAAAAA;
    text-align: center;
    padding: 1em 0.5em;
    background: #252525;
    
}
.bold {
    font-weight: bold;
}
a,
button {
    font-size: inherit;
}
.not-found {
    display: block;
    padding: 0.5em;
    color: white;
    margin-block: 1em; 
    text-align: center;
    font-family: inherit;
    background: black; 
    
}
.not-found-body {
    margin: 1em;
    padding: 1em;
    text-align: center;
}
.not-found-body a {
    text-decoration: none;
}
