.vansCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.van {
    width: 46%;
}
.van a,
.vansFilters a  {
    color: black;
    text-decoration: none;
}
.vanImg {
    width: 100%;
    display: block;
    margin-top: 20px;
}
.vans-body {
    padding: 1em;
}
.vansFilters {
    gap: 0.5em;
    display: flex;
    margin: 15px auto;
    justify-content: space-between;
}
.van-type {
    padding: 5px;
    border: none;
    outline: none;
    font-family: inherit;
    background: #FFEAD0;
}
.clear {
    align-self: center;
    border-bottom: 1px solid black;
}
.label {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}
.pay {
    display: block;
    font-size: 12px;
    text-align: right;
}
.type {
    color: white;
    border-radius: 5px;
}
.simple,
.simple-type:hover {
    background: #E17654;
    color: white!important;
}
.rugged,
.rugged-type:hover {
    background: #115E59;
    color: white!important;
} 
.luxury,
.luxury-type:hover {
    background:#161616;
    color: white!important;
}